.page {
  height: 100%;
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
  line-height: 21px;
  color: $color-light;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $color-dark-background;
}
