.page {
  height: 100%;

  @extend %font-prim;
  @include font($size: 16px, $height: 21px);

  color: $color-light;
  scroll-behavior: smooth;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $color-dark-background;
}
