// COLOR VARIABLES
$color-dark: #030303;
$color-light: #C2BCD2;
$color-dark-background: #060606;
$color-white: #ffffff;
$color-purple: #534878;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1050px;
